<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
  <title>Edit coupon</title>
</head>
<body>
<section layout:fragment="content"  class="container-fluid!important">
  <form th:action="@{/admin/coupon/update}" th:object="${coupon}" method="post" enctype="application/x-www-form-urlencoded">
    <div class="modal-dialog" role="document">
      <div class="modal-content"style="background-color: white" >
        <div class="modal-header">
          <h5 class="modal-title">Sửa danh sách coupon</h5>
        </div>
        <div class="modal-body">
          <div class="form-group">

            <label class="col-form-label my-2"> </label>
            <input  type="hidden" class="form-control my-2"  name="id" id="id" th:value="${coupon.id}">


            <label class="col-form-label my-2" >Code: </label>
            <input type="text" class="form-control my-2"   th:field="*{code}" name="code" id="code" th:value="${coupon.code}">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></div>

            <label class="col-form-label my-2">Tên coupon: </label>
            <input type="text" class="form-control my-2" name="name" id="name" th:value="${coupon.name}">

            <label class="col-form-label my-2">Giá trị:</label>
            <input type="number" class="form-control my-2" name="discount" id="discount" th:value="${coupon.discount}">

            <label class="col-form-label my-2">Giá trị đơn hàng tối thiểu:</label>
            <input type="number" class="form-control my-2" name="minPrice" id="minPrice" th:value="${coupon.minPrice}">

            <label class="col-form-label my-2">Giảm tối đa:</label>
            <input type="number" class="form-control my-2" name="maxPrice" id="maxPrice" th:value="${coupon.maxPrice}">

            <label class="col-form-label my-2">Số lượng:</label>
            <input type="number" class="form-control my-2" name="amount" id="amount" th:value="${coupon.amount}">

<!--              <label class="col-form-label my-2"> </label>-->
<!--              <input type="hidden" class="form-control my-2" name="id" id="id" th:value="${coupon.id}">-->

<!--              <label class="col-form-label my-2" th:if="${#fields.hasErrors('code')}" th:errors="*{code}">Code:</label>-->
<!--              <input type="text" class="form-control my-2" name="code" id="code" th:value="${coupon.code}" th:classappend="${#fields.hasErrors('code')} ? 'is-invalid' : ''">-->

<!--              <label class="col-form-label my-2" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Tên coupon:</label>-->
<!--              <input type="text" class="form-control my-2" name="name" id="name" th:value="${coupon.name}" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''">-->

<!--              <label class="col-form-label my-2" th:if="${#fields.hasErrors('discount')}" th:errors="*{discount}">Giá trị:</label>-->
<!--              <input type="number" class="form-control my-2" name="discount" id="discount" th:value="${coupon.discount}" th:classappend="${#fields.hasErrors('discount')} ? 'is-invalid' : ''">-->

<!--              <label class="col-form-label my-2" th:if="${#fields.hasErrors('minPrice')}" th:errors="*{minPrice}">Giá trị đơn hàng tối thiểu:</label>-->
<!--              <input type="number" class="form-control my-2" name="minPrice" id="minPrice" th:value="${coupon.minPrice}" th:classappend="${#fields.hasErrors('minPrice')} ? 'is-invalid' : ''">-->

<!--              <label class="col-form-label my-2" th:if="${#fields.hasErrors('maxPrice')}" th:errors="*{maxPrice}">Giảm tối đa:</label>-->
<!--              <input type="number" class="form-control my-2" name="maxPrice" id="maxPrice" th:value="${coupon.maxPrice}" th:classappend="${#fields.hasErrors('maxPrice')} ? 'is-invalid' : ''">-->

<!--              <label class="col-form-label my-2" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Số lượng:</label>-->
<!--              <input type="number" class="form-control my-2" name="amount" id="amount" th:value="${coupon.amount}" th:classappend="${#fields.hasErrors('amount')} ? 'is-invalid' : ''">-->

          </div>

        </div>

        <button type="submit" class="btn btn-primary my-2">Lưu</button>
      </div>
    </div>
  </form>
  </div>
</section>
</body>
</html>
