<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title>Edit user</title>
</head>
<body>
<section layout:fragment="content">
    <form th:action="@{/admin/user/update}" th:object="${userDTO}" method="post" enctype="multipart/form-data">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Sửa thông tin người dùng</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" id="id" name="id" th:value="${user.id}">
                        <label class="col-form-label">Tên người dùng</label>
                        <input type="text" class="form-control" name="userName" id="userName" th:value="${user.userName}">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Địa chỉ</label>
                        <input type="text" class="form-control" id="address" name="address" th:value="${user.address}">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Số điện thoại</label>
                        <input type="tel" class="form-control" id="phone" name="phone" th:value="${user.phone}" pattern="(84|0[3|5|7|8|9])+([0-9]{8})\b">
                    </div>
                </div>

                    <button type="submit" class="btn btn-primary ">Lưu</button>
            </div>
        </div>
    </form>
    </div>
</section>
</body>
</html>
<script>

    $(function() {
        //hang on event of form with id=myform
        $("#category").submit(function(e) {

            //prevent Default functionality
            e.preventDefault();

            //get the action-url of the form
            var actionurl = e.currentTarget.action;

            const data = new FormData(e.target);
            //var formData = JSON.stringify($("#category").serializeArray());

            const formData = Object.fromEntries(data.entries());
            //do your own request an handle the results
            $.ajax({
                url: actionurl,
                type: 'post',
                dataType: "json",
                contentType : "application/json",
                data:JSON.stringify(formData),
                success: function(data) {

                    // Ajax call completed successfully
                    alert("Form Submited Successfully");
                    const baseURL=actionurl.split("/");
                    location.href=baseURL[1]+"/pages/category-elements"
                },
                error: function(data) {

                    // Some error in ajax call
                    alert("some Error");
                    alert(data);
                },
            });
            alert("Submit form"+formData);

        });

    });
    // function handleSubmit(event) {
    //     event.preventDefault();
    //     const data = new FormData(event.target);
    //     const value = Object.fromEntries(data.entries());
    //
    //     console.log({ value });
    //
    // }
    //
    // const form = document.querySelector('#category');
    // form.addEventListener('submit', handleSubmit);
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgInp").change(function(){
        readURL(this);
    })
</script>