<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section layout:fragment="content">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">Chi tiết sản phẩm</h2>
                <div class="text-right">
                    <button class="btn btn-warning" data-toggle="modal" data-target="#editModal">Sửa</button>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                            <td>Tên sản phẩm</td>
                            <td th:utext="${product.name}"></td>
                        </tr>
                            <tr>
                            <td>Thể loại</td>
                            <td th:utext="${product.type}"></td>
                        </tr>
                            <tr>
                            <td>Chiếu khấu</td>
                            <td th:utext="${product.discount}"></td>
                        </tr>
                            <tr>
                            <td>Điểm Rating</td>
                            <td th:utext="${product.avgrating}"></td>
                        </tr>
                            <tr>
                            <td>Vật liệu</td>
                            <td th:utext="${product.material}"></td>
                        </tr>
                            <tr>
                            <td>Loại sản phẩm</td>
                            <td th:utext="${product.categoriesName}"></td>
                        </tr>
                            <tr>
                            <td>Chiều dài</td>
                            <td th:utext="${product.height}"></td>
                        </tr>
                            <tr>
                            <td>Chiều rộng</td>
                            <td th:utext="${product.width}"></td>
                        </tr>
                            <tr>
                            <td>Cân nặng</td>
                            <td th:utext="${product.weight}"></td>
                        </tr>
                            <tr>
                            <td>Mô tả</td>
                            <td th:utext="${product.description}"></td>
                        </tr>
                            <tr>
                            <td>Thương hiệu</td>
                            <td th:utext="${product.brand}"></td>
                        </tr>
                            <tr>
                            <td>Xuất xứ</td>
                            <td th:utext="${product.madein}"></td>
                        </tr>
                            <tr>
                            <td>Số lượng còn lại</td>
                            <td th:utext="${product.amount}"></td>
                        </tr>
                            <tr>
                            <td>Màu sắc</td>
                            <td th:utext="${product.color}"></td>
                        </tr>
                            <tr>
                            <td>Giá bán</td>
                            <td th:utext="${product.price}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade col-lg-12" id="editModal" tabindex="-1" role="dialog" >
        <form th:action="@{/pages/product/update}" th:object="${productDTO}" method="post" enctype="multipart/form-data">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Thêm sản phẩm mới</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="hidden" id="id" name="id" th:value="${product.id}">
                            <input type="hidden" id="avgrating" name="avgrating" th:value="${product.avgrating}">
                            <input type="hidden" id="deleted" name="deleted" value="0">
                            <label class="col-form-label">Tên sản phẩm</label>
                            <input type="text" class="form-control" id="name" name="name" th:value="${product.name}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Thể loại</label>
                            <input type="text" class="form-control" id="type" name="type" th:value="${product.type}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Chiết khấu</label>
                            <input type="number" class="form-control" id="discount" name="discount" th:value="${product.discount}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Chất liệu</label>
                            <input type="text" class="form-control" id="material" name="material" th:value="${product.material}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Loại sản phẩm</label>
                            <select id="categoryid" name="categoryid" class="form-control">
                                <option th:each="i : ${categoryList}" th:value="${i.id}" th:text="${i.categoriesName}"
                                th:selected="${i.id == product.categoryid}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Chiều dài</label>
                            <input type="number" class="form-control" id="height" name="height" th:value="${product.height}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Chiều rộng</label>
                            <input type="number" class="form-control" id="width" name="width" th:value="${product.width}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Cân nặng (kg)</label>
                            <input type="number" class="form-control" id="weight" name="weight" th:value="${product.weight}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Mô tả sản phẩm</label>
                            <textarea class="form-control" id="description" name="description" rows="5" th:utext="${product.description}"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Hình ảnh</label>
                            <input type="text" th:value="${product.image}" id="image" name="image" readonly="readonly">
                            <input type="file" class="form-control-file" id="photo" name="photo">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Thương hiệu</label>
                            <input type="text" class="form-control" id="brand" name="brand" th:value="${product.brand}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Xuất xứ</label>
                            <input type="text" class="form-control" id="madein" name="madein" th:value="${product.madein}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Số lượng</label>
                            <input type="number" class="form-control" id="amount" name="amount" th:value="${product.amount}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Màu sắc</label>
                            <input type="text" class="form-control" id="color" name="color" th:value="${product.color}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Giá bán</label>
                            <input type="number" class="form-control" id="price" name="price" th:value="${product.price}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

</body>
</html>