<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#create").on("click",function(){
                $("#create-form").show();
                $(".table").prepend($("#create-form"));
                // $(".table").addAttachmentClass("hide");
            })
        });
    </script>
    <style>
        .hide{display: none}
        #max-width-200{
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .z-100{
            z-index: 100;
        }

    </style>
</head>
<body>

<section layout:fragment="content" class = "mt-2 mx-2 " >

    <button type="button" class="btn btn-success " id="create">Thêm</button>
    <button type="button" class="btn btn-danger ">Xóa</button>
    <button type="button" class="btn btn-warning ">Sửa</button>


    <table class="table bg-white  mt-4  ">
        <thead  class="thead-light">
        <tr>
            <th scope="col ">#</th>
            <th scope="col">id</th>
            <th scope="col">Tên coupon</th>
            <th scope="col">Giá trị</th>
            <th scope="col">Giá thấp nhất</th>
            <th scope="col">Giá cao nhất</th>
            <th scope="col">Mã</th>
            <th scope="col">Số lượng</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="state:${coupon}">
            <td class="col-sm">
                <input type="checkbox" aria-label="Checkbox for following text input">
            </td>
            <td class="col-sm" th:utext="${state.id}"></td>
            <td class="col-sm " id ="max-width-200" th:utext="${state.name}"></td>
            <td class="col-sm" th:utext="${state.discount}"></td>
            <td class="col-sm" th:utext="${state.minPrice}"></td>
            <td class="col-sm" th:utext="${state.maxPrice}"></td>
            <td class="col-sm" th:utext="${state.code}"></td>
            <td class="col-sm" th:utext="${state.amount}"></td>
        </tr>
        </tbody>
    </table>

    <form id="create-form" class="z-100">
        <form>
            <fieldset disabled>
                <div class="form-group">
                    <label for="disabledTextInput">Disabled input</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                </div>
                <div class="form-group">
                    <label for="disabledSelect">Disabled select menu</label>
                    <select id="disabledSelect" class="form-control">
                        <option>Disabled select</option>
                    </select>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
                    <label class="form-check-label" for="disabledFieldsetCheck">
                        Can't check this
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
        </form>
    </form>
</section>


</body>
</html>