<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title>Home</title>
</head>
<body>
<section layout:fragment="content" class ="row">
    <button type="button" class="btn btn-success ">Thêm</button>
    <button type="button" class="btn btn-danger ">Xóa</button>
    <button type="button" class="btn btn-warning ">Sửa</button>


    <table class="table bg-white mt-4 ">
        <thead  class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">id</th>
            <th scope="col">Tên coupon</th>
            <th scope="col">Giá trị</th>
            <th scope="col">Giá thấp nhất</th>
            <th scope="col">Giá cao nhất</th>
            <th scope="col">Mã</th>
            <th scope="col">Số lượng</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="state:${coupon}">
            <td >
                <input type="checkbox" aria-label="Checkbox for following text input">
            </td>

            <td th:utext="${state.id}"></td>
            <td th:utext="${state.name}"></td>
            <td th:utext="${state.discount}"></td>
            <td th:utext="${state.minPrice}"></td>
            <td th:utext="${state.maxPrice}"></td>
            <td th:utext="${state.code}"></td>
            <td th:utext="${state.amount}"></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>