<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
  <title>Home</title>
</head>
<body>
<section layout:fragment="content">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title categoryheader">Quản lý người dùng</h2>
        <button class="btn btn-success btn-block">Thêm người dùng
          <i class="mdi mdi-plus"></i>
        </button>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>
                ID
              </th>
              <th>
                Tên người dùng
              </th>
              <th>
                Địa chỉ
              </th>
              <th>
                Số điện thoại
              </th>
              <th>Tùy chọn</th>
            </thead>
            <tbody>
            <tr th:each="state:${users}">
              <td th:utext="${state.id}"></td>
              <td th:utext="${state.userName}"></td>
              <td th:utext="${state.address}"></td>
              <td th:utext="${state.phone}"></td>
              <td> <div class="ticket-actions col-md-2">
                <div class="btn-group dropdown">
                  <button type="button" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tùy chọn
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">
                      <i class="fa fa-reply fa-fw"></i>Sửa</a>
                    <a class="dropdown-item" href="#">
                      <i class="fa fa-history fa-fw"></i>Xóa</a>

                  </div>
                </div>
              </div></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>